
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";



.post-image{
    height: auto;
    width: 200px;
}

.post {
    display: flex;
    flex-direction: column;  
}
.addPostButton{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aqua;
    color: black;
}